@model Test.Models.SubscribeModel

@*@using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))*@
@using (Html.BeginForm()) {
    @Html.TextBoxFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
    @*<button type="submit">Subscribe</button>*@
    <input type="submit" value="Subscribe" formaction="Subscribe">
}