@model _03_HtmlFormSample.Models.TaskModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm()) {
    <fieldset>
        <div>
            <label>Name:</label><br />
            @*@Html.TextBox("Name")<br />*@
            @*Strongly typed:*@
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            <label>Start Date:</label><br />
            @*@Html.TextBox("StartDate")<br />*@
            @Html.TextBoxFor(m => m.StartDate)
        </div>
        <div>
            <label>Start Date:</label><br />
            @*@Html.CheckBox("Completed")<br />*@
            @Html.CheckBoxFor(m => m.Completed)
        </div>
        <input type="submit" value="Create">
    </fieldset>
}
